<div class="row">
	<% if current_user.id != user.id %>
		<% if isRoom == true %>
			<%= link_to "#{user.name}とチャットを始める", room_path(roomId) %>
		<% else %>
			<%= form_with model: room, local:true do |f| %>
				<%= fields_for(user_room) do |u| %>
					<% u.hidden_field :user_id, :value => user.id %>
				<% end %>
				<%= f.submit "#{user.name}と新しくチャットを始める" %>
			<% end %>
		<% end %>
	<% end %>
</div>
