<% if model.errors.any? %>
  <div class="alert alert-warning">
    <p><%= pluralize(model.errors.count, "error") %></p>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>